---
layout: null
---
{% include header.html %}
    
    <main class="page-container" style="padding: 20px 20px; min-height: 800px;">
            {% include rankings-subnav.html %}
        <h2>2026 Redraft Fantasy Football Rankings</h2>

        <div id="fp-widget" 
            data-height="1000px" 
            data-width="100%" 
            data-thead_color="#002863" 
            data-thead_font="#f5f5f5" 
            data-t_alt_row="#fff6e5" 
            data-link_color="#000000" 
            data-pill_color="#000000" 
            data-sport="NFL" 
            data-wtype="ST" 
            data-filters="7357:7373" 
            data-scoring="PPR" 
            data-expert="7357" 
            data-affiliate_code="" 
            data-year="2026" 
            data-week="0" 
            data-auction="false" 
            data-Notes="false" 
            data-tags="false" 
            data-cards="false" 
            data-showPodcastIcons="false" 
            data-format="table" 
            data-promo_link="false" 
            data-title_header="false" 
            data-positions="ALL:QB:RB:WR:TE:OP" 
            data-ppr_positions="ALL:RB:WR:TE:OP" 
            data-half_positions="ALL:RB:WR:TE:OP" 
            data-site="" 
            data-fd_aff="" 
            data-dk_aff="" 
            data-fa_aff="" 
            data-dp_aff="">
            </div>
        <div class="fpw-footer"><span style="float:left"><a href="https://www.fantasypros.com/nfl/rankings/consensus-cheatsheets.php" target="_blank" rel="nofollow">2026 Fantasy Football Rankings</a> powered by FantasyPros</span></div>
        <script src="https://cdn.fantasypros.com/js/fp-widget-2.0.js"></script>

    </main>

{% include footer.html %}
